doctype html
html
  head
    title Email Sender API
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css')
    style.
        body {
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          background-color: #f9f9f9;
        }
        .container {
          text-align: center;
        }
        .button {
          background-color: #007BFF;
          color: white;
          padding: 0 20px;
          text-decoration: none;
          border-radius: 5px;
          transition: 0.3s;
        }
  body
    .container
      h1 Welcome to Email Sender API
      p Send emails with ease and flexibility.
      a.button(href='https://github.com/ibrahim11elian/email-sender') View on GitHub
